<!doctype html>
<html>
<head>
    <title>eduroam metadata management</title>
    <link rel='stylesheet' href='/site_media/css/bootstrap.min.css' type='text/css'>
    <link rel='stylesheet' href='/site_media/css/style.css' type='text/css'>
	<script type="text/javascript" language="javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
	{% block extrahead %}{% endblock %}
</head>

<body {% block extrabody %}{% endblock %}>
<br><br>
    <div class="container">
    <div class="span16" columns>
    <br><br>
    <img src="{{ MEDIA_URL }}img/eduroam_120pix.png" style="float:right;">
{% block content %}{% endblock %}
</div>
    </div>
</body>
</html>