<!doctype html>
<html>
<head>
    <title>eduroam metadata management</title>
    <link rel='stylesheet' href='/site_media/bootstrap/css/bootstrap.min.css' type='text/css'>
    <link rel='stylesheet' href='/site_media/css/style.css' type='text/css'>
	<script type="text/javascript" language="javascript" src="/site_media/js/jquery-1.4.2.min.js"></script>
	{% block extrahead %}{% endblock %}
</head>

<body {% block extrabody %}{% endblock %}>
<br><br>
<div class="container">
    <div class="span12">
        <div class="row">
            <div class="hero-unit">
                <h1>eduroam metadata</h1>
                <br><br>
                <a href="/accounts/login-federated/?next=/" class="btn-large btn-success">Login</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
