{% extends "base.html" %}
{% block title %}edumeta{% endblock %}
{% block content %}
        {% if not institutions %}
            <h6>No institution found</h6>
        {% else %}
            {% for institution in institutions %}
                <div class="well" style="background: #fff;">
                <div style="float:left">
                <h3>{{ institution.org_name_en }}</h3>
                {{ institution.street }}, {{ institution.city }} <a href="/institution/{{ institution.id }}">Edit</a><br>
                </div>
                <div style="float:right">
                    You have <strong>{{ institution.get_ap_count }}</strong> accesspoints<br>
                    <span class="quiet">Last updated: {{ institution.get_latest_location.last_updated|timesince }} ago</span>
                </div>
                <br>
                <br>
                <br>
                <br>

                {% if institution.get_contacts %}
                <table class="table table-striped table-bordered">
                <th>Contact</th>
                <th>Email</th>
                <th>Phone</th>
                <th></th>
                {% for contact in institution.get_contacts %}
                    <tr>
                        <td>{{ contact.name }}</td>
                        <td>{{ contact.email }}</td>
                        <td>{{ contact.phone }}</td>
                        <td><a href="/contact/{{ contact.id }}">Edit</a></td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td><a onclick="$('#contact_form_{{ institution.id }}').toggle('fast')" href="#"><i class="icon-plus-sign"></i> Add contact</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </table>
                {% else %}
                    <td><a onclick="$('#contact_form_{{ institution.id }}').toggle('fast')" href="#"><i class="icon-plus-sign"></i> Add contact</a></td>
                {% endif %}

                <div id="contact_form" style="display:none;">
                    <div class="well">
                        <h3>Add new contact for {{ institution.org_name_en }}</h3>
                        <br>
                        <form action="/contact/add" method="post">{% csrf_token %}
                            {% for n in contact_form %}
                                <label>{{ n.label }}</label>
                                {{ n }}
                            {% endfor %}
                            <br><br>
                            <input class="btn" type="submit" value="Save" />
                            <input class="btn" type="reset" value="Reset form" />
                        </form>
                    </div>
                </div>

                {% if institution.get_locations %}
                <table class="table table-striped table-bordered">
                <th>Location</th>
                <th>Street</th>
                <th>City</th>
                <th>AP:s</th>
                <th></th>
            {% for location in institution.get_locations %}
                <tr>
                    <td>{% if location.location_name_se %}{{ location.location_name_se }}{% else %}{{ location.location_name_en }}{% endif %}</td>
                    <td>{{ location.street }}</td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.ap_no }}</td>
                    <td><a href="/location/{{ location.id }}">Edit</a></td>
                </tr>
            {% endfor %}
            <tr>
                <td><a onclick="$('#location_form').toggle('fast')" href="#"><i class="icon-plus-sign"></i> Add location</a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </table>
            {% endif %}
            <div id="location_form" style="display:none;">
                <div class="well">
                <h3>Add new location for {{ institution.org_name_en }}</h3><br>
                <form action="/location/add" method="post">{% csrf_token %}
                    {% for n in location_form %}
                    <label>{{ n.label }}</label>
                        {{ n }}
                    {% endfor %}
                    <br><br>
                    <input class="btn" type="submit" value="Save" />
                    <input class="btn" type="reset" value="Reset form" />
                </form>
                </div>
            </div>
            </div>
            {% endfor %}
        {% endif %}


{% endblock %}