{% extends "base.html" %}
{% block title %}Edit location{% endblock %}
{% block content %}
    <h3>{{ location.location_name }}</h3>
                <br>
                <div class="well">
                <a style="float:right;" href="/location/{{ location.id }}/delete"><i class="icon-trash"></i> Ta bort</a>
                <form action="/location/{{ location.id }}" method="post">{% csrf_token %}
                    {% for n in form %}
                    <label>{{ n.label }}</label>
                    <div class="input">
                        {{ n }}
                    </div>
                    {% endfor %}
                    <input class="btn" type="submit" value="Submit" />
                </form>
                </div>
{% endblock %}