{% extends "base.html" %}
{% block title %}Edit contact{% endblock %}
{% block content %}
                <div class="well">
                <form action="/contact/{{ contact.id }}" method="post">{% csrf_token %}
                    {% for n in form %}
                    <label>{{ n.label }}</label>
                        {{ n.errors }}
                        {{ n }}
                    {% endfor %}
                    <input class="btn" type="submit" value="Submit" />
                </form>
                </div>
{% endblock %}