{% extends "base.html" %}

{% block content %}


        {% if not institutions %}
            <h6>No institution found</h6>
            <button onclick="$(this).next('div.#hidetext').toggle('fast')" class="btn success">+ Add institution</button>
            <div id="hidetext" style="display:none;">
                <br><br>
                <form action="/institution/add" method="post">{% csrf_token %}
                    {% for n in form %}
                    <label for="xlInput">{{ n.label }}</label>
                    <div class="input">
                        {{ n.errors }}
                        {{ n }}
                    </div>
                    <br>
                    {% endfor %}
                    <input class="btn" type="submit" value="Submit" />
                </form>
            </div>
        {% else %}
            {% for institution in institutions %}
                <h2>{{ institution.org_name_sv }}</h2>
                {{ institution.street }}, {{ institution.city }} <a href="/institution/{{ institution.id }}">Edit</a><br>

            <br>

            {% if institution.location.all %}
                <table>
                <th>Location</th>
                <th>Street</th>
                <th>City</th>
                <th>AP:s</th>
                <th></th>
            {% for location in institution.location.all %}
                <tr>
                    <td>{{ location.location_name }}</td>
                    <td>{{ location.street }}</td>
                    <td>{{ location.city }}</td>
                    <td>{{ location.ap_no }}</td>
                    <td><a href="/location/{{ location.id }}">Edit</a></td>
                </tr>
            {% endfor %}
            </table>
            {% endif %}
                <a onclick="$(this).next('div.#hidetext').toggle('fast')" href="#" class="btn success">+ Add location</a>
            <div id="hidetext" style="display:none;">
                <br><br>
                <form action="/location/add" method="post">{% csrf_token %}
                    {% for n in location_form %}
                    <label for="xlInput">{{ n.label }}</label>
                    <div class="input">
                        {{ n }}
                    </div>
                    <br>
                    {% endfor %}
                    <input class="btn" type="submit" value="Submit" />
                </form>
            </div>


            {% endfor %}
        {% endif %}


{% endblock %}