{% extends "base.html" %}

{% block content %}
    <h2>{{ location.location_name }}</h2>
                <br>
                <form action="/location/{{ location.id }}" method="post">{% csrf_token %}
                    {% for n in form %}
                    <label for="xlInput">{{ n.label }}</label>
                    <div class="input">
                        {{ n }}
                    </div>
                    <br>
                    {% endfor %}
                    <input class="btn" type="submit" value="Submit" />
                </form>
{% endblock %}